doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')

  body
    nav 
      a(href='/') Registration Form 
      a(href='/Registrations') Registration Listings
      a(href='trailupdater') Trail Updater
      a(href='traillog') Trail Log
    div.container.listing-reg
      block content
